.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

img {
    height:300px;
}

.left-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    gap: 20px;
}
.item-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap:100px;
    margin: 15px;
    width: 500px;
}







