.container{
    display:flex;
    justify-content: center;
    flex-direction: row;
    gap:150px;
    margin-top: 50px;
}
img{
    height: 500px;
}

.list {
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;

}